<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="TraceServiceUri" value="net.tcp://localhost:65000/TraceHostService"/>
    <add key="TraceMaxSize" value="20000"/>
  </appSettings>
  
</configuration>