
@{
    Layout = null;
}
<div id="cacheInfoes">
    <section class="filterfields-contain"></section>    
    <div>
        <grid-view grid-name="cacheInfoesGrid"
                   view-model-type="@typeof(Core.Mvc.ViewModel.CacheInfoViewModel)"
                  
                   height="300"
           
               >
        </grid-view>
    </div>
</div>




