@{
    Layout = null;
}
<div >
    <grid-view grid-name="roleGrid"
               view-model-type="@typeof(Core.Mvc.ViewModel.RoleVM.RoleViewModel)"
               height="400" 
               >
    </grid-view>
</div>