@{
    Layout = null;
}
<div ng-controller="userRoleController">

    <grid-view grid-name="userGrid"
               view-model-type="@typeof(Core.Mvc.ViewModel.UserVM.UserViewModel)"
               height="400"
               selected-item="user"
               on-data-bound="onUserGridDataBound(args)"
               on-change="onUserGridChange(args)"
               on-edit="onUserGridEdit(args)"
                    >
    </grid-view>
    <grid-view grid-name="userRoleGrid"
               view-model-type="@typeof(Core.Mvc.ViewModel.UserRoleVM.UserRoleViewModel)"
               height="400"
               initial-filter="filterBase"
               on-Pre-Save="onUserRoleGridEdit(args)"
               on-init="onUserRoleGridInit(args)"
               on-change="onUserRoleGridChange(args)"
               >
    </grid-view>

</div>



