<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="EnableLogFirstChanceException" value="false"/>
    <add key="TraceServiceUri" value="net.tcp://localhost:65000/TraceHostService"/>
    <add key="TraceMaxSize" value="20000000"/>
  </appSettings>
  <connectionStrings>
    <add name="TraceHostWinContext" connectionString="Data Source=192.168.1.59;Initial Catalog=Sepehr360test;User ID=sa;Password=123456qQ;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>