Begin Transaction;
begin try
begin

update [core].ViewElements
set ParentId=null where LOWER(UniqueName) like '%core%'

delete from core.ViewElements where LOWER(UniqueName) like '%core%'
/****** Object:  Table [core].[ViewElements]    Script Date: 05/18/2016 12:40:46 ******/

INSERT [core].[ViewElements] ([UniqueName], [Title], [ElementType], [XMLViewData], [ParentId], [IsHidden], [InVisible], [SortOrder], [Id]) VALUES (N'MenuCoreGeneralSetting#', N'تنظیمات عمومی', 0, N'Areas/Core/Content/images/settings.png', NULL, 0, 0, 5, 3)
INSERT [core].[ViewElements] ([UniqueName], [Title], [ElementType], [XMLViewData], [ParentId], [IsHidden], [InVisible], [SortOrder], [Id]) VALUES (N'Core/Account/Register#Core/Account/Register', N'عضویت', 1, NULL, 3, 1, 0, 1000, 11)
INSERT [core].[ViewElements] ([UniqueName], [Title], [ElementType], [XMLViewData], [ParentId], [IsHidden], [InVisible], [SortOrder], [Id]) VALUES (N'AccountApi/PutEntity#Core/AccountApi/PutEntity', N'خروج', 1, NULL, 3, 1, 0, 1000, 14)

-- CacheInfo management view elements










/****** Object:  Table [core].[ViewElementRoles]    Script Date: 05/23/2016 17:11:24 ******/
INSERT [core].[ViewElementRoles] ([ViewElementId], [RoleId]) VALUES (3, 1)
INSERT [core].[ViewElementRoles] ([ViewElementId], [RoleId]) VALUES (11, 1)
INSERT [core].[ViewElementRoles] ([ViewElementId], [RoleId]) VALUES (67, 1)

-- CacheInfo management view elements







END


END TRY
BEGIN CATCH
    SELECT 
        ERROR_NUMBER() AS ErrorNumber
        ,ERROR_SEVERITY() AS ErrorSeverity
        ,ERROR_STATE() AS ErrorState
        ,ERROR_PROCEDURE() AS ErrorProcedure
        ,ERROR_LINE() AS ErrorLine
        ,ERROR_MESSAGE() AS ErrorMessage;

    IF @@TRANCOUNT > 0
        ROLLBACK TRANSACTION;
END CATCH;

IF @@TRANCOUNT > 0
    COMMIT TRANSACTION;
GO