
<div kendo-notification="notificationInfo.element"
     ng-class=""
     k-position="{top:30,left:30,pinned: true }"
     k-button="true"
     k-auto-hide-after="0"
     k-hide-on-click="false"
     k-width="400"
     k-on-show="onShow(kendoEvent)">
    @*<img ng-src="info.icon" />*@
    @*<div> {{notificationInfo.title}} </div>
        <div> {{notificationInfo.message }}</div>*@

</div>


