<div >
    <div class="row bottom-margin">
        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right">عنوان نقش</label>
        <span class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-right" style="padding:0;"></span>
        <input id="Name" class="input_border k-textbox" type="text" ng-model="view.Name" />
    </div>
    
</div>