<div >

    <cust-lookup lookup-id="roleLookUp"
                 
                 title="'جستجوی نقش'"
                 value-name="view.RoleId"
                 display-name="view.RoleName"
                 lkp-value-name="Id"
                 lkp-display-name="Name"
    
                 view-model-name="@typeof(Core.Mvc.ViewModel.RoleVM.RoleViewModel)"
                 win-width="700"
                 win-height="420">
    </cust-lookup>

                                                                
</div>