

<div>
  
    <div class="row bottom-margin">
        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right">نام</label>
        <span class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-right" style="padding:0;">
            <input id="FName" class="input_border k-textbox" type="text" ng-model="view.FName" />
        </span>
    </div>
    <div class="row bottom-margin">
        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right">نام خانوادگی</label>
        <span class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-right" style="padding:0;">
            <input id="LName" class="input_border k-textbox" type="text"  ng-model="view.LName" />
        </span>
    </div>
    <div class="row bottom-margin">
        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right">نام کاربری</label>
        <span class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-right" style="padding:0;">
            <input id="UserName" class="input_border k-textbox" type="text" ng-model="view.UserName" />
        </span>
    </div>
    <div class="row bottom-margin">
        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right">رمز عبور</label>
        <span class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-right" style="padding:0;">
            <input id="Password" class="input_border k-textbox" type="password" ng-model="view.Password" />
        </span>
    </div>

    <div class="row bottom-margin">
        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right">تکرار رمز عبور</label>
        <span class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-right" style="padding:0;">
            <input id="ConfirmPassword" class="input_border k-textbox" type="password" ng-model="view.ConfirmPassword" />
        </span>
    </div>

    <div class="row bottom-margin">
        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right">فعال</label>
        <span class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-right" style="padding:0;">
            <input id="Active" type="checkbox" ng-model="view.Active" />
        </span>
    </div>


</div>




 



